<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >


    <name>FSA FREE</name>

    <description>
        FS APP TEST
    </description>

    <author href="http://www.cawia.com" email="sergio@cawia.com">
        Sergio Estrada
    </author>
	
	<preference name= "Orientation" value= "portrait" />
	<preference name= "fullscreen" value= "true" />
	
	<preference name="auto-hide-splash-screen"    value="true" />
	
	<gap:plugin name="de.appplant.cordova.plugin.hidden-statusbar-overlay" version="1.2.0" />
	<gap:plugin name="net.yoik.cordova.plugins.screenorientation" version="1.2.1" />
	
	<icon src="icon.png" />
	
	

	

</widget>